* {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--color-zinc-400) transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable both-edges;

    &:active {
      scrollbar-color: var(--color-primary) transparent;
    }

    @media (hover: hover) {
      &:hover {
        scrollbar-color: var(--color-primary) transparent;
      }
    }
  }

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--color-zinc-400);
    background-color: var(--color-zinc-400);

    @media (hover: hover) {
      &:hover {
        background: var(--color-primary);
        background-color: var(--color-primary);
      }
    }
  }
}

.dark {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: var(--color-zinc-700) transparent;

    &:active {
      scrollbar-color: var(--color-primary) transparent;
    }

    @media (hover: hover) {
      &:hover {
        scrollbar-color: var(--color-primary) transparent;
      }
    }
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-zinc-700);
    background-color: var(--color-zinc-700);

    @media (hover: hover) {
      &:hover {
        background: var(--color-primary);
        background-color: var(--color-primary);
      }
    }
  }
}

.scrollbar-hidden,
.scrollbar-hidden * {
  @supports not selector(::-webkit-scrollbar) {
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
  }

  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}
