@theme inline {
  /* Shamrock Green */
  --color-shamrock-green-100: hsl(163deg 100% 6%);
  --color-shamrock-green-200: hsl(164deg 100% 12%);
  --color-shamrock-green-300: hsl(164deg 100% 18%);
  --color-shamrock-green-400: hsl(164deg 100% 24%);
  --color-shamrock-green-500: hsl(164deg 100% 30%);
  --color-shamrock-green-600: hsl(164deg 100% 44%);
  --color-shamrock-green-700: hsl(164deg 100% 58%);
  --color-shamrock-green-800: hsl(164deg 100% 72%);
  --color-shamrock-green-900: hsl(164deg 100% 86%);
}

@layer utilities {
  .\[\&_svg\:not\(\[class\*\=\'size-\'\]\)\]\:size-4 {
    & svg:not([class*='size-']) {
      width: 1em;
      height: 1em;
    }
  }
}

@layer app {
  [data-slot='select-item'],
  [data-slot='dropdown-menu-item'],
  [data-slot='context-menu-item'] {
    cursor: pointer;
  }

  :where([role='link'][aria-disabled='true' i], [role='link'][disabled]) {
    cursor: default;
  }

  [data-slot='tooltip-content'] {
    z-index: 1100;
  }

  .preview-dialog {
    & .preview-dialog__actions {
      & .ghost-ext {
        @apply p-1.5!;
      }
    }
  }

  .ghost-ext {
    @apply bg-none cursor-pointer px-3!;

    @variant hover {
      @apply bg-foreground text-background dark:bg-accent dark:text-foreground;

      & * {
        @apply text-background dark:text-foreground;
      }
    }
  }
}

@utility ghost-ext--active {
  @apply text-primary;

  * {
    @apply text-primary;
  }

  @variant hover {
    @apply text-primary/80;

    * {
      @apply text-primary/80;
    }
  }
}
