/* stylelint-disable no-descending-specificity */
table.file-view--list {
  table-layout: auto;
  border-collapse: collapse;
  margin: 0 auto;
  border: 1px solid black;

  & th,
  & td {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--border-color);
  }

  & thead {
    & tr {
      & th {
        & a {
          display: flex;
          flex-flow: row nowrap;
          gap: 0.25rem;
          align-items: center;
          justify-content: center;

          margin: -0.25rem -0.5rem;
          padding: 0.5rem 0.75rem;
        }

        &.sorted {
          a {
            color: var(--link-hover-color);
          }
        }
      }
    }
  }

  & tbody {
    & tr {
      & td {
        & a {
          display: flex;
          flex-flow: row nowrap;
          gap: 0.25rem;
          align-items: center;
          justify-content: flex-start;

          margin: -0.25rem -0.5rem;
          padding: 0.35rem 0.65rem;
        }
      }
    }
  }
}
