<table class='file-view--list'>
  <thead>
    <tr x-data>
      <th x-bind:class='{ sorted: $store.sort.key === "name" }'>
        <a href='#' @click='$store.sort.update("name")'>
          Name
          <%- include('sort_icon_name'); %>
        </a>
      </th>
      <th>
        Type
      </th>
      <th x-bind:class='{ sorted: $store.sort.key === "created_at" }'>
        <a href='#' @click='$store.sort.update("created_at")'>
          Created At
          <%- include('sort_icon_created_at'); %>
        </a>
      </th>
      <th x-bind:class='{ sorted: $store.sort.key === "last_modified_at" }'>
        <a href='#' @click='$store.sort.update("last_modified_at")'>
          Last Modified At
          <%- include('sort_icon_last_modified_at'); %>
        </a>
      </th>
      <th x-bind:class='{ sorted: $store.sort.key === "duration" }'>
        <a href='#' @click='$store.sort.update("duration")'>
          Duration
          <%- include('sort_icon_duration'); %>
        </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <template x-for='entry in entries'>
      <tr>
        <td>
          <!-- <span x-data="{ entry: entry }" x-text='`[${}]`'></span> -->
          <a x-bind:href='$route(entry)' x-text='entry.name'></a>
        </td>
        <td x-text='entry.file_type || entry.entry_type'></td>
        <td x-text='$formatDate(entry.created_at)'></td>
        <td x-text='$formatDate(entry.last_modified_at)'></td>
        <td x-text='entry.duration'></td>
      </tr>
    </template>
  </tbody>
</table>
