<section>
  <!--
    <span class='skeleton'></span>
    <span class='skeleton'></span>
    <span class='skeleton'></span>
    <span class='skeleton'></span>
    <span class='skeleton'></span>
    <span class='skeleton'></span>
    <span class='skeleton'></span>
    <span class='skeleton'></span>
  -->
</section>
