<nav>
  <article x-data='files' class='menu--start breadcrumbs'>
    <span>
      <template x-if='at_root'>
        <span>[root]</span>
      </template>
      <template x-if='!at_root'>
        <a href='/'>[root]</a>
      </template>
    </span>
    <template x-for='crumb in breadcrumbs'>
      <span style='display: contents;'>
        <span class='bc-separator'></span>
        <template x-if='crumb.path'>
          <a :href='crumb.path' x-text='crumb.label'></a>
        </template>
        <template x-if='!crumb.path'>
          <span x-text='crumb.label'></span>
        </template>
      </span>
    </template>
  </article>

  <article class='menu--end'>
    <span>{{ sort icons }}</span>
    <span x-data='theme' class='theme-toggle' @click='toggle'>
      <template x-if='dark'>
        <svg xmlns='http://www.w3.org/2000/svg' class='icon' fill='currentColor' viewBox='0 0 256 256'><path d='M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm8,24a64,64,0,1,0,64,64A64.07,64.07,0,0,0,128,64ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z'></path></svg>
      </template>
      <template x-if='!dark'>
        <svg xmlns='http://www.w3.org/2000/svg' class='icon' fill='currentColor' viewBox='0 0 256 256'><path d='M235.54,150.21a104.84,104.84,0,0,1-37,52.91A104,104,0,0,1,32,120,103.09,103.09,0,0,1,52.88,57.48a104.84,104.84,0,0,1,52.91-37,8,8,0,0,1,10,10,88.08,88.08,0,0,0,109.8,109.8,8,8,0,0,1,10,10Z'></path></svg>
      </template>
    </span>
  </article>
</nav>
