@import url('@fontsource-variable/inter');
@import url('@fontsource-variable/inter/wght-italic.css');
@import url('./_reset.css');

/*
 * Example Usage:
 *
 * @media (--desktop-lg) {
 *   // styles that will only apply to large desktop sizes
 * }
 *
 * @media (--mobile) {
 *   // styles that will only apply to mobile sizes
 * }
 *
 * @NOTE: CSS variables cannot be used in media queries.
 */
@custom-media --desktop-lg (width >= 1920px);
@custom-media --desktop-md (width < 1920px);
@custom-media --desktop-sm (width < 1280px);
@custom-media --mobile (width < 768px);

:root {
  --bg-color: #ECEFF3;
  --border-color: #000;
  --box-shadow-color: var(--border-color);
  --link-color: var(--text-color);
  --link-hover-color: #CC0100;
  --svg-alt-color: #545454;
  --svg-alt-hover-color: #d45453;
  --text-color: #000;
}

.dark {
  --bg-color: #222226; /* #18191b; */
  --border-color: #3f3f46; /* #2f3135; */
  --box-shadow-color: var(--border-color);
  --link-color: var(--text-color);
  --link-hover-color: #d45453;
  --svg-alt-color: #cbd1db;
  --svg-alt-hover-color: #df7f7e;
  --text-color: #edeef0;
}

::selection {
  color: var(--bg-color);
  background-color: var(--text-color);
}

html,
body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* stylelint-disable -- Unsure where, but there's a bug in Stylelint that removes comments between
                          values when running `--fix`, but it doesn't seem to be associated with a
                          specific rule, so we just have to disable Stylelint for the whole attribute.
                          @see https://github.com/stylelint/stylelint/issues/4620 (it isn't `indentation`) */
  font-family:
    'Inter', /* ------------- Primary font ----------- */
    system-ui, /* ----------- macOS system fonts ----- */
    -apple-system, /* ------- Safari on macOS >= 10.11 */
    BlinkMacSystemFont, /* -- Chrome on macOS >= 10.11 */
    'Segoe UI', /* ---------- >= Windows Vista ------- */
    'Noto Sans', /* --------- >= KDE Plasma 5 -------- */
    'Helvetica',
    'Arial',
    sans-serif, /* ---------- fallback --------------- */
    'Apple Color Emoji', /* - macOS emoji ------------ */
    'Segoe UI Emoji'; /* ---- Windows emoji ---------- */
  /* stylelint-enable */

  line-height: 1.1;
  text-align: center;

  & h1 {
    font-size: 3.6rem;
    font-weight: 700;
  }

  & p {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0.5;
  }
}
